<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
           
           <!-- 定义数据源dataSource -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  
        destroy-method="close">  
        <property name="driverClass">  
            <value>com.mysql.jdbc.Driver</value>  
        </property>  
        <property name="jdbcUrl">  
            <value>jdbc:mysql://127.0.0.1:3306/maventest</value>  
        </property>  
        <property name="user">  
            <value>root</value>  
        </property>  
        <property name="password">  
            <value>password</value>  
        </property>  
        <property name="maxPoolSize">  
            <value>40</value>  
        </property>  
        <property name="minPoolSize">  
            <value>1</value>  
        </property>  
        <property name="initialPoolSize">  
            <value>1</value>  
        </property>  
        <property name="maxIdleTime">  
            <value>20</value>  
        </property>  
    </bean>  

   <!--定义SessionFactory -->   
    <bean id="sessionFactory"  
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">  
        <property name="dataSource" ref = "dataSource"/>  
        <property name="mappingResources">  
            <list>  
                <value>com/zwb/beans/User.hbm.xml</value>
                <value>com/zwb/beans/Blog.hbm.xml</value> 
                <value>com/zwb/beans/Comment.hbm.xml</value> 
            </list>  
        </property>  
        <property name="hibernateProperties"> 
          <value> 
        hibernate.dialect=org.hibernate.dialect.MySQLDialect
        hibernate.hbm2ddl.auto=update
        hibernate.show_sql=true
        </value>
        </property>
    </bean> 
     
    <!--定义局部事务管理器 --> 
    <bean id="transactionManager"  
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory" />  
    </bean>  
 
 
 
    
    <!-- ~~~~~~~~用户服务组件~~~~~~~~ -->
     <bean id="UserServiceImpl" class="com.zwb.serviceImpl.UserServiceImpl"> 
        <property name="userDao" ref="userDaoImpl"/>
        <property name="gui" ref="GeneralUtilsImpl"></property>
    </bean>
        <bean id="userDaoImpl" class="com.zwb.daoImpl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
    
    <!-- ~~~~~~~~日志服务组件~~~~~~~~ -->
    <bean id="BlogServiceImpl" class="com.zwb.serviceImpl.BlogServiceImpl"> 
        <property name="blogDao" ref="blogDaoImpl"/>
        <property name="gui" ref="GeneralUtilsImpl"/>
        <property name="commentDao" ref="commentDaoImpl"></property> 
       
    </bean>                  
    <bean id="blogDaoImpl" class="com.zwb.daoImpl.BlogDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- ~~~~~~~~评论服务组件~~~~~~~~ -->
    <bean id="CommentServiceImpl" class="com.zwb.serviceImpl.CommentServiceImpl"> 
        <property name="commentDao" ref="commentDaoImpl"/>
        <property name="gui" ref="GeneralUtilsImpl"></property>        
    </bean>                  
    <bean id="commentDaoImpl" class="com.zwb.daoImpl.CommentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    
          
    <!-- ~~~~~~~~通用功能组件~~~~~~~ -->  
    <bean id="GeneralUtilsImpl" class="com.zwb.serviceImpl.GeneralUtilsImpl">
    </bean> 
        
     <!-- =============默认页面=============== -->  
    <bean id="WelcomeAction" class="com.zwb.action.redirect.WelcomeAction" scope="prototype"> 
    </bean>
    
    
    
    <!-- =============登录=============== -->  
    <bean id="LoginAction" class="com.zwb.action.LoginAction" scope="prototype">
        <property name="us" ref="UserServiceImpl"/> 
        <property name="gu" ref="GeneralUtilsImpl"/> 
    </bean>
 
    
    <!--===================首页=================== -->  
    <bean id="MainAction" class="com.zwb.action.MainAction" scope="prototype">
        <property name="bs" ref="BlogServiceImpl"/>  
    </bean> 
    
    
     <!-- ==============创建日志============= -->
    <bean id="NewBlogAction" class="com.zwb.action.direct.NewBlogAction" scope="prototype">
    </bean>
    <bean id="CreatBlogAction" class="com.zwb.action.CreatBlogAction" scope="prototype">
        <property name="bs" ref="BlogServiceImpl"/>  
    </bean>
    
     <!-- ==============修改日志============= -->
    <bean id="EditBlogAction" class="com.zwb.action.EditBlogAction" scope="prototype">
        <property name="bs" ref="BlogServiceImpl"/>  
    </bean>    
    
    <!-- ==============日志详情============= -->
	<bean id="ShowBlogAction" class="com.zwb.action.ShowBlogAction" scope="prototype">
        <property name="bs" ref="BlogServiceImpl"/>
        <property name="cs" ref="CommentServiceImpl"/>  
    </bean> 
  
    <!-- ==============用户详情============= -->
	<bean id="ShowUserAction" class="com.zwb.action.ShowUserAction" scope="prototype">
        <property name="bs" ref="BlogServiceImpl"/>
        <property name="us" ref="UserServiceImpl"/>  
    </bean> 
  	<!-- ==============创建评论============= -->
  	<bean id="CreatCommentAction" class="com.zwb.action.CreatCommentAction" scope="prototype">
        <property name="cs" ref="CommentServiceImpl"/>
        <property name="gu" ref="GeneralUtilsImpl"/> 
        <property name="bs" ref="BlogServiceImpl"/> 
    </bean> 

	<!-- ==============管理============= -->
	<bean id="ManageAction" class="com.zwb.action.ManageAction" scope="prototype">
		<property name="bs" ref="BlogServiceImpl"/>
		<property name="cs" ref="CommentServiceImpl"/>
		<property name="us" ref="UserServiceImpl"/> 
	</bean>
	
	<bean id="AjaxTestAction" class="com.zwb.action.AjaxTestAction" scope="prototype">
	</bean>

</beans>  